.form-control--score {
  width:35px !important;
  text-align:center;
  font-size:18px;
  display:inline-block;
  padding: 0.375rem;
}
.form-control--card-red {
  background: #e42b20;
}
.form-control--card-yellow {
  background: #ffef17;
}